html{
  background-color: #e9eaec;
  overflow: hidden;
}
.Outer{
  background-color: #e9eaec;
  height: 550px;
  margin-top: 110px;
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 50px;
}
.studentComponent{
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
}
.studentDetails {
  height: 190px;
  overflow: hidden;
  display: inline-flexbox;  
  color: black;
  font-family: 'Raleway', sans-serif;
  }

img{
  float: left;
  position: relative;
  margin-left: 100px;
  border-radius: 50%;
  box-shadow: #e9eaec;
  width: 150px;
  height: 150px;
  border-color: rgb(221, 215, 215);
  margin: 10px;
  
  border-width: 1px;
  box-sizing: border-box;
  block-size: 20%;
  border-style:groove;
}

.App-link {
  color: #61dafb;
}

h3{
  margin-left: 150px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  
}
.name{
  text-transform: uppercase; 
}
p{
  margin-left: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 20;
  color: rgb(66, 62, 62);
}
.line{
  border-bottom: 1px solid rgb(182, 177, 177);; 
}
input[type=text] {
  width: 1315px;
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(187, 183, 183);
  font-size: 24px;
  font-weight: 100;
  color: rgb(74, 80, 80); 
}
.textInput{
  margin-top: -70px;
  height: 20px;
  margin-left: 100px;
  position: fixed;
  font-family: 'Raleway', sans-serif;
}
#search{
  position: absolute;
}
input[type=text]:focus {  
  border-bottom: 2px solid rgb(107, 106, 106);
}
input::placeholder{
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 20px;
}
.tagInput{
  margin-top: -35px;
  margin-left: 100px;
  position: fixed;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif; 
}
button{
  float: right;
  position: relative;
  margin-top: -160px ;
  margin-right: 50px;
  font-size: 50px;
  color: rgb(117, 119, 121);
  background-color: transparent;
  border: none;
}
.plus:hover{
    color: #050505 !important;
}
.minus:hover{
  color: #050505 !important;
}
.plus{
  box-shadow:#050505;
}
.minus{
  box-shadow: #050505;
}
.collapse{
  display: none;
  
}
.collapse.open {
  display: block;
}
.grades{
  color: rgb(92, 84, 84);
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-style: italic;
  margin-left: 200px;
  margin-top: 1.5%;
}
.addTag{
  width: 100px !important;
  margin-top: 10px;
}
.tagsListed{
  background-color: rgb(179, 192, 187);
  border-radius: 10%;
  width: max-content;
  height: fit-content;
  padding: 5px;
  margin-bottom: 5px;
}